/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* CSS đánh giá cho các sao*/
.rating-stars {
    display: inline-block;
    direction: rtl; /* Đảo ngược thứ tự để hiệu ứng hover hoạt động đúng */
}

.rating-stars input[type=radio] {
    display: none; /* Ẩn các nút radio mặc định */
}

.rating-stars label {
    color: #ddd; /* Màu sao mặc định */
    font-size: 2em;
    padding: 0 5px;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.rating-stars label:hover,
.rating-stars label:hover ~ label, /* Các sao bên trái của sao được hover */
.rating-stars input[type=radio]:checked ~ label { /* Các sao bên trái của sao được chọn */
    color: #ffc107; /* Màu vàng khi hover hoặc được chọn */
}

/* TÙY CHỈNH CHO FULLCALENDAR */
.fc-event {
    border: 1px solid #444 !important; /* Thêm viền nhẹ cho sự kiện */
    color: #fff !important; /* Chữ luôn là màu trắng để nổi bật */
    padding: 2px 4px;
    font-size: 0.8em; /* Giảm kích thước chữ một chút */
    overflow: hidden; /* Ẩn phần chữ bị tràn */
    text-overflow: ellipsis; /* Hiển thị dấu ... nếu chữ quá dài */
    white-space: nowrap; /* Ngăn không cho chữ xuống dòng */
}

/* Đảm bảo màu chữ của lịch cũng là màu sáng */
.fc-daygrid-day-number, .fc-col-header-cell-cushion {
    color: #ccc;
}